html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #dadada;
}

#tic-tac-toe {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

canvas#canvas-element {
  margin: 0;
  width: 0;
  height: 0;
}

h1 {
  font: 500 50px "Fredoka", sans-serif;
  display: block;
  position: relative;
}

.board {
  width: 600px;
  height: 600px;
  grid-gap: 0;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

.square {
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font: 600 100px "Fredoka", sans-serif;
  color: #dadada;

  background-color: #0565ff;
  border: 1px solid rgb(4, 26, 75);

  transition: background 0.3s ease-in-out;
}

.square:hover {
  background-color: #004dc8;
  cursor: pointer;
}

.none {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-self: center;

  height: 100px;

  font-weight: 700;
  font-size: 40px;

  background: #13bd22c1;
  border-radius: 2rem;

  padding: 4rem;
}

.status button {
  font: 16px "Inter", sans-serif;

  padding: 10px;

  background: #0a933199;
  border: 2px solid #11911c99;
  border-radius: 0.5rem;

  transition: 0.3s ease;
}

.status button:hover {
  background-color: #1c822599;
  cursor: pointer;
}

@media (max-width: 500px) {
  #tic-tac-toe {
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }

  canvas#canvas-element {
    margin: 0;
    width: 0;
    height: 0;
  }

  .board {
    width: 200px;
    height: 200px;
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(3, 75px);
  }

  .square {
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    font: 600 40px "Fredoka", sans-serif;
    color: #dadada;

    background-color: #0565ff;
    border: 1px solid rgb(4, 26, 75);

    transition: background 0.3s ease-in-out;
  }
}
