.board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 600 30px "Inter", sans-serif;

  background-color: #e96464;
  border: 1px solid rgb(75, 4, 4);

  transition: background 0.3s ease-in-out;
}

.square:hover {
  background-color: #e92a2a;
  cursor: pointer;
}
