.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 600px;
  height: 600px;
  background-color: #eb5c5c;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

.square {
  border: 1px solid rgb(75, 4, 4);
}
